.texto-encabezado{
    display: flex;   
    align-items: center;
}

.container-encabezado{
    display: flex;
    justify-content: space-between;
}

.table{
    margin-top: 20px;;
}

.badge-primary{
    background-color: #FF6699;
}

.badge{
    font-size: 100%;
}   